<!-- files.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Files</title>
</head>
<body>
    <h1>Uploaded Files</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <ul>
        {% for file_id, file_name in file_list %}
            <li>
                {{ file_name }}
                <a href="{{ url_for('download_file', file_id=file_id) }}">Download</a>
                <form action="{{ url_for('delete_file', file_id=file_id) }}" method="post" style="display: inline;">
                    <button type="submit">Delete</button>
                </form>
                <form action="/share/{{ file_id }}/{{ user_id }}" method="post">
                    <button type="submit">Share with User B</button>
                </form>  
            </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('upload_file') }}">Upload File</a>
    <br>
    <h2>Files Shared with You</h2>
    <ul>
        {% for shared_file in shared_files %}
            <li>{{ shared_file.file_name }} - Shared by {{ shared_file.shared_by_username }}</li>
        {% endfor %}
    </ul>

    <a href="{{ url_for('logout') }}">Logout</a>
</body>
</html>
